<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Mattbotdesign">
    <link rel="canonical" href="http://www.mattbotdesign.com/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Design">
    <meta property="og:description" content="Mattbotdesign">
    <meta property="og:url" content="http://www.mattbotdesign.com/">
    <meta property="og:site_name" content="Mattbotdesign">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mattbotdesign">
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="1 minute">
    <meta name="msapplication-TileImage" content="assets/img/logo/270.png">
    <link rel="icon" type="image/x-icon" href="assets/img/logo/favicon.ico">
    <link rel="icon" type="image/png" href="assets/img/logo/favicon.png">
    <link rel="icon" href="assets/img/logo/32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="assets/img/logo/60.png">
    <link rel="apple-touch-icon" href="assets/img/logo/180.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/logo/180.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/logo/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/logo/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/logo/152.png">
    <meta name="msapplication-TileImage" content="assets/img/logo/270.png">
    <!-- <link href="/css/vendor/aos/aos.css" rel="stylesheet">
    <link href="/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/css/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/css/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/css/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
   -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="assets/css/styles-min.css" />
</head>
<body>
  <img src="assets/img/bgd.jpg" class="bgd-image2" />
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center position-relative header-nav">
      <!-- <h1 class="logo me-auto"><a href="index.html">Mattbotdesign</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->

      <nav id="navbar" class="navbar">
        <!-- <a href="/" class="logo"><img src="assets/img/logo/logo.svg" alt="" class="img-fluid"> </a> -->
        <ul class="nav-group-left">
          <li><a class="nav-link scrollto {{ 'active' if currentPage == 'homepage' }}" href="/">Home</a></li>
          <li><a class="nav-link scrollto {{ 'active' if currentPage == 'athletes' }}" href="#work">Work</a></li>
          <li><a class="nav-link scrollto {{ 'active' if currentPage == 'services' }}" href="#services">Services</a></li>
        </ul>


        <div class="icon mobile-nav-toggle"></div>

        <!-- <i class="bi bi-list mobile-nav-toggle"> </i> -->
        <!-- <ul class="nav-group-right">

          <li><a class="nav-link scrollto {{ 'active' if currentPage == 'contact' }}" href="/contact-us">Contact Us</a></li>
          <li><a class="nav-link scrollto {{ 'active' if currentPage == 'about' }}" href="/about-us">About Us</a></li>
        </ul> -->
        <ul class="nav-number"><li>
          <button style="cursor:pointer;" onclick="location.href='tel:2672106381';" type="button" class="btn btn-secondary">
            <span class="icon-circle"><i class="bi bi-telephone-fill"></i></span> 267 210 6381
        </button></li></ul>

      </nav><!-- .navbar -->
   
    </div>

  </header><!-- End Header -->


{{ content | safe }}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- <div class="graphic"></div> -->
    <div class="container position-relative">
      <div class="row">

        <!-- <div class="col-lg-3 col-md-6 footer-contact">
          <img src="assets/img/logo/logo.svg">

        </div> -->

        <div class="col-lg-3 col-md-6 footer-links">

        </div>

        <div class="col-lg-3 col-sm-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#work">Work</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="/contact-us">Contact Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/about-us">About Us</a></li> -->

          </ul>
        </div>

        <div class="col-lg-3 col-sm-6 footer-links">
          <h4>Contact Us</h4>
          <ul class="has-icons">
            <li><i class="bi bi-phone-fill"></i> <a href="tel:267-210-6381">+1 267 210 6381</a></li>
            <li><i class="bi bi-envelope-fill"></i> <a href="mailto:'mdal138@gmail.com';">mdal138@gmail.com</a></li>
            <!-- <li><i class="bi bi-geo-alt-fill"></i> 
              address
            </li> -->
            <li><i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/mdalberto/" target="_blank">/in/mdalberto/</a></li>
            <!--<li><i class="bi bi-instagram"></i> <a href="https://www.instagram.com/mattbotdesign/"  target="_blank">@mattbotdesign</a></li> -->
          </ul>
        </div>

      </div>

      <div class="copyright">
        &copy; Copyright <strong><span>Mattbotdesign</span></strong>. All Rights Reserved
      </div>

  </div>

</footer><!-- End Footer -->



<!-- <div id="preloader"></div> -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>




<script src="assets/vendor/bodymovin/lottie.js"></script><!-- makes the top nav work -->
<script type="text/javascript">
  const icon = document.querySelector('.icon');
  const gears = document.getElementById('gears');
  var animation = lottie.loadAnimation({
    container: icon,
    renderer: 'svg',
    loop: false,
    autoplay: false,
    path: 'assets/img/close-lottie.json'

  });

// When toggle button pressed, run toggleNav function
icon.addEventListener('click', toggleNav);
var state = 'play';
function toggleNav() {
  console.log('hi');        
  animation.goToAndStop(7, true);

  if(state === 'play') {
    animation.play();
    animation.setDirection(1);
    state = 'pause';
  } else {
    //animation.goToAndStop(0, true);
    animation.setDirection(-1);
    //animation.goToAndStop(-1);
    animation.play();
    state = 'play';
  }

}
</script>



<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>

<script type="text/javascript">

  LottieInteractivity.create({
    player: '#gears',
    mode: 'scroll',
    actions: [
      {
        visibility: [.5,1],
        type: 'seek',
        frames: [0, 360],
      },
    ]
  });


</script>




<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.3/lottie.min.js" integrity="sha512-gze4ZSc3u6B23fISCPvJ+2stODz0DJ3MowbegfgoeYnuvLHh1jHLb1EAP/b8DD20n86AMDfukkEAz2ZhoMd1RA==" crossorigin="anonymous"></script> -->
<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

<script>


</script>

<script type="text/javascript">
  window.ga = function() {
      ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', 'UA-2460563-1', 'auto');
  ga('set', 'transport', 'beacon');
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>

</body>
</html>