*
{
margin: 0px;
padding: 0px;	
	
}

body {
	background-color: #0FC;
}

#rotator
{
	display:block;
	z-index:200;
	width:	920px;
	height: 220px;
	border:2px solid gray;
	margin-left:12px;
	overflow:hidden;
}
#pics a, #pics img
{
	border:0px solid white;
}
#btns
{
	float: left;
	width: 250px;
	border: 0px;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	vertical-align: baseline;
	
}


.thumb
{
	cursor: pointer;
	height: 58px;
	margin: 4px;
	padding: 0px 0px 0px 80px;
	display: block;
	background-image: url(/images/rotator/rotator-btn-bgd.jpg);
	background-repeat:no-repeat;
}

#btn ul
{
	list-style: none;
	border: 0px;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	vertical-align: baseline;
	-webkit-padding-start: 40px;
	display: block;
	
}

#btns li
{
	display: list-item;	
	
}

li.thumb h4
{
	border: 0px;
font-family: inherit;
font-size: 100%;
font-style: inherit;
	display: block;
	
}
li.thumb p
{
	border: 0px;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
display: block;	
	
	
}

.pic1
{
	background-color:Red;
	width:629px;
	height:195px;
}
.pic2
{
	background-color:green;
		width:629px;
	height:195px;
}
.pic3
{
	background-color:purple;
		width:629px;
	height:195px;
}

.btn1
{
	
	
}
.btn2
{
}

.btn3
{
	
	
}
