<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oreland Pack 88 - Class B order form</title>
    <script src="
https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css
" rel="stylesheet">
    <style>

    .image-box {
      /* //width: 250px; */
      text-align: center;
      /* background: #E9E8E7; */
      background-color: white;
      padding: 10px;
      position: relative;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border:1px solid #E9E8E7;
    }
    .image-box img {
        max-width: 100%;
        display: block;
        margin-bottom: 7px;
        margin-left:auto;
        margin-right:auto;
    }

    .price{
      font-weight: bold;
      position: absolute;
      right: 2px;
      top: 2px;
      border-radius: 50px;
      width: 30px;
      height: 30px;
      font-size: 13px;
      display: flex;
      background-color: #ffeb79;
      align-items: center;
      justify-content: center;
      letter-spacing: -1px;
      zoom: 1.25;
    }
    a{color:rgb(24 72 152)}

    .highlight{
      border:#ffeb79 6px solid;
      padding:5px;
    }
    </style>
</head>
<body class="bg-body-tertiary">



    <div class="container">
        <main>
          <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/images/logo.jpg" alt="" width="100" height="100">
            <h2>Pack 88 Class B Order Form</h2>
            <p class="lead">'Class B' shirts/sweatshirts are cub scout uniforms that are worn at causal Pack events and outings.
            </p>
          </div>
      
          <div class="row g-5">
            
            <!------------- -->
            
            <!-- <div class="col-md-5 col-lg-4 order-md-last">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Your cart</span>
                <span class="badge bg-primary rounded-pill">3</span>
              </h4>
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                  <div>
                    <h6 class="my-0">Product name</h6>
                    <small class="text-body-secondary">Brief description</small>
                  </div>
                  <span class="text-body-secondary">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                  <div>
                    <h6 class="my-0">Second product</h6>
                    <small class="text-body-secondary">Brief description</small>
                  </div>
                  <span class="text-body-secondary">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                  <div>
                    <h6 class="my-0">Third item</h6>
                    <small class="text-body-secondary">Brief description</small>
                  </div>
                  <span class="text-body-secondary">$5</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                  <span>Total (USD)</span>
                  <strong>$20</strong>
                </li>
              </ul>
      
            </div> -->

            <!-- For array:
            'Date', 'firstName', 'lastName', 'email', 'scout', 'address', 'zip', 'total', {% for swag in 88_swag_loop %}'kids_{{swag.title}}_hoodie_select', {% endfor %} {% for swag in 88_swag_loop %}'adults_{{swag.title}}_hoodie_select', {% endfor %} {% for swag in 88_swag_loop %}'kids_{{swag.title}}_tshirt_select', {% endfor %} {% for swag in 88_swag_loop %}'adults_{{swag.title}}_tshirt_select', {% endfor %}{% for swag in 88_swag_other %}'{{swag.title}}_select', {% endfor %} -->
            <!------------- -->
            <div class="col-md-12 col-lg-12">

              <form class="needs-validation mb-5" novalidate="" method="POST" action="https://script.google.com/macros/s/AKfycbzPyOEiCh3FT9tnUZ3Ov-7BD245uQDvjNzoFCSXwoni9YLIgQie4LnHXd4bVKg3T7I8Gg/exec">

                <div class="row g-3">
                  <h4 class="mb-1">Kids Hoodies <a href="https://photos.app.goo.gl/Ya6USJKwywYGb83d6" target="_blank" style="font-size:14px;">(sizing chart)</a></h4>
                  {% for swag in 88_swag_loop %}
                    <div class="col-6 col-sm-3">
                      <div class="image-box">
                        <img src="/images/hoodie-{{swag.id}}.jpg" onClick="toggleCheck(this);" />
                        <div class="price">$35</div>
                        <div class="mt-2">
                            <!-- <input id="{{swag.id}}_kids_{{swag.title}}_hoodie" type="checkbox" name="{{swag.id}}_kids_{{swag.title}}_hoodie" value="{{swag.id}}_kids_{{swag.title}}_hoodie" class="form-check-input"> -->
                            <label class="mb-2">{{swag.title}} Hoodie (kids)</label>
                        </div>
                            <select name="kids_{{swag.title}}_hoodie_select" id="kids_{{swag.title}}_hoodie_select" class="form-select" style="max-width:120px; margin:0 auto">

                            <option value="0">-- QTY --</option>
                            <option value="1_kids_{{swag.title}}_hoodie">1</option>
                            <option value="2_kids_{{swag.title}}_hoodie">2</option>
                            <option value="3_kids_{{swag.title}}_hoodie">3</option>
                            <option value="4_kids_{{swag.title}}_hoodie">4</option>
                            <option value="5_kids_{{swag.title}}_hoodie">5</option>
                            <option value="6_kids_{{swag.title}}_hoodie">6</option>
                        </select>
                        <input type="hidden" id="kids_{{swag.title}}_hoodie_cost"  value="35" />
                        <div class="result">Result: $<span id="kids_{{swag.title}}_hoodie_result">0</span></div>
                      </div>
                    </div>
                  {% endfor %}


                  <h4 class="mb-1 mt-5">Adult Hoodies <a href="https://photos.app.goo.gl/Ya6USJKwywYGb83d6" target="_blank" style="font-size:14px;">(sizing chart)</a></h4>


                  {% for swag in 88_swag_loop %}
                    <div class="col-6 col-sm-3">
                      <div class="image-box">
                        <img src="/images/hoodie-{{swag.id}}.jpg" onClick="toggleCheck(this);" />
                        <div class="price">$35</div>
                        <div class="mt-2">
                            <!-- <input id="{{swag.id}}_adults_{{swag.id}}_hoodie" type="checkbox" name="{{swag.id}}_adults_{{swag.id}}_hoodie" value="{{swag.id}}_adults_{{swag.id}}_hoodie" class="form-check-input"> -->
                            <label class="mb-2">{{swag.title}} Hoodie (Adults)</label>
                        </div>
                            <select name="adults_{{swag.title}}_hoodie_select" id="adults_{{swag.title}}_hoodie_select" class="form-select" style="max-width:120px; margin:0 auto">

                            <option value="0">-- QTY --</option>
                            <option value="1_adult_{{swag.title}}_hoodie">1</option>
                            <option value="2_adult_{{swag.title}}_hoodie">2</option>
                            <option value="3_adult_{{swag.title}}_hoodie">3</option>
                            <option value="4_adult_{{swag.title}}_hoodie">4</option>
                            <option value="5_adult_{{swag.title}}_hoodie">5</option>
                            <option value="6_adult_{{swag.title}}_hoodie">6</option>
                        </select>
                        <input type="hidden" id="adults_{{swag.title}}_hoodie_cost" value="35" />
                        <div class="result">Result: $<span id="adults_{{swag.title}}_hoodie_result">0</span></div>
                      </div>
                    </div>
                  {% endfor %}


                  <h4 class="mb-1 mt-5">Kids T-Shirt <a href="https://photos.app.goo.gl/Ya6USJKwywYGb83d6" target="_blank" style="font-size:14px;">(sizing chart)</a></h4>
                  {% for swag in 88_swag_loop %}
                    <div class="col-6 col-sm-3">
                      <div class="image-box">
                        <img src="/images/shirt-{{swag.id}}.jpg" onClick="toggleCheck(this);" />
                        <div class="price">$25</div>
                        <div class="mt-2">
                            <!-- <input id="{{swag.id}}" type="checkbox" name="{{swag.id}}" value="{{swag.id}}" class="form-check-input"> -->
                            <label class="mb-2">{{swag.title}} T-Shirt (kids)</label>
                        </div>
                            <select name="kids_{{swag.title}}_tshirt_select" id="kids_{{swag.title}}_tshirt_select" class="form-select" style="max-width:120px; margin:0 auto">

                            <option value="0">-- QTY --</option>
                            <option value="1_kids_{{swag.title}}_tshirt">1</option>
                            <option value="2_kids_{{swag.title}}_tshirt">2</option>
                            <option value="3_kids_{{swag.title}}_tshirt">3</option>
                            <option value="4_kids_{{swag.title}}_tshirt">4</option>
                            <option value="5_kids_{{swag.title}}_tshirt">5</option>
                            <option value="6_kids_{{swag.title}}_tshirt">6</option>
                        </select>
                        <input type="hidden" id="kids_{{swag.title}}_tshirt_cost" value="25" />
                        <div class="result">Result: $<span id="kids_{{swag.title}}_tshirt_result">0</span></div>
                      </div>
                    </div>
                  {% endfor %}


                  <h4 class="mb-1 mt-5">Adult T-Shirt <a href="https://photos.app.goo.gl/Ya6USJKwywYGb83d6" target="_blank" style="font-size:14px;">(sizing chart)</a></h4>

                  {% for swag in 88_swag_loop %}
                    <div class="col-6 col-sm-3">
                      <div class="image-box">
                        <img src="/images/shirt-{{swag.id}}.jpg" onClick="toggleCheck(this);" />
                        <div class="price">$25</div>
                        <div class="mt-2">
                            <!-- <input id="{{swag.id}}" type="checkbox" name="{{swag.id}}" value="{{swag.id}}" class="form-check-input"> -->
                            <label class="mb-2">{{swag.title}} T-Shirt (Adults)</label>
                        </div>
                            <select name="adults_{{swag.title}}_tshirt_select" id="adults_{{swag.title}}_tshirt_select" class="form-select" style="max-width:120px; margin:0 auto">

                            <option value="0">-- QTY --</option>
                            <option value="1_adults_{{swag.title}}_tshirt">1</option>
                            <option value="2_adults_{{swag.title}}_tshirt">2</option>
                            <option value="3_adults_{{swag.title}}_tshirt">3</option>
                            <option value="4_adults_{{swag.title}}_tshirt">4</option>
                            <option value="5_adults_{{swag.title}}_tshirt">5</option>
                            <option value="6_adults_{{swag.title}}_tshirt">6</option>
                        </select>
                        <input type="hidden" id="adults_{{swag.title}}_tshirt_cost" value="25" />
                        <div class="result">Result: $<span id="adults_{{swag.title}}_tshirt_result">0</span></div>
                      </div>
                    </div>
                  {% endfor %}


                  <h4 class="mb-1 mt-5">Other</h4>
                  {% for swag in 88_swag_other %}
                    <div class="col-6 col-sm-3">
                      <div class="image-box">
                        <img src="/images/other-{{swag.id}}.jpg" onClick="toggleCheck(this);" />
                        <div class="price">${{swag.price}}</div>
                        <div class="mt-2">
                            <!-- <input id="{{swag.id}}_other" type="checkbox" name="{{swag.id}}_other" value="{{swag.id}}_other" class="form-check-input"> -->
                            <label class="mb-2">{{swag.title}}</label>
                        </div>
                            <select name="{{swag.title}}_select" id="{{swag.title}}_select" class="form-select" style="max-width:120px; margin:0 auto">
                                <option value="0">-- QTY --</option>
                                <option value="1_{{swag.title}}">1</option>
                                <option value="2_{{swag.title}}">2</option>
                                <option value="3_{{swag.title}}">3</option>
                                <option value="4_{{swag.title}}">4</option>
                                <option value="5_{{swag.title}}">5</option>
                                <option value="6_{{swag.title}}">6</option>
                            </select>
                            <input type="hidden" id="{{swag.title}}_cost" value="{{swag.price}}" />
                            <div class="result">Result: $<span id="{{swag.title}}_result">0</span></div>
                      </div>
                    </div>
                  {% endfor %}


                  <h4 class="mb-1 mt-5">Your Information</h4>
                  <div class="col-sm-6">
                    <label for="firstName" class="form-label">First name</label>
                    <input name="firstName" type="text" class="form-control" id="firstName" required minlength="3">
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
                    <div class="col-sm-6">
                      <label for="lastName" class="form-label">Last name</label>
                      <input name="lastName" type="text" class="form-control" id="lastName" required minlength="3">
                      <div class="invalid-feedback">
                        Valid last name is required.
                      </div>
                    </div>
        
                    <div class="col-6">
                      <label for="scout" class="form-label">Scout's name</label>
                      <input name="scout" type="text" class="form-control" id="scout" required minlength="3">
                      <div class="invalid-feedback">
                          Your scout is required.
                        </div>
                    </div>
        
                    <div class="col-12">
                      <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
                      <input name="email" type="email" class="form-control" id="email" >
                      <div class="invalid-feedback">
                        Please enter a valid email address.
                      </div>
                    </div>
        
                    <div class="col-12">
                      <label for="address" class="form-label">Address</label>
                      <input name="address" type="text" class="form-control" id="address" required minlength="3">
                      <div class="invalid-feedback">
                        Please enter your shipping address.
                      </div>
                    </div>
        
                    <div class="col-12">
                      <label for="address2" class="form-label">Address 2 <span class="text-body-secondary">(Optional)</span></label>
                      <input name="address2" type="text" class="form-control" id="address2" >
                    </div>
        
                    <!-- <div class="col-md-5">
                      <label for="country" class="form-label">Country</label>
                      <select class="form-select" id="country" required="">
                        <option value="">Choose...</option>
                        <option>United States</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid country.
                      </div>
                    </div>
        
                    <div class="col-md-4">
                      <label for="state" class="form-label">State</label>
                      <select class="form-select" id="state" required="">
                        <option value="">Choose...</option>
                        <option>California</option>
                      </select>
                      <div class="invalid-feedback">
                        Please provide a valid state.
                      </div>
                    </div>
         -->
                    <div class="col-md-3">
                      <label for="zip" class="form-label">Zip</label>
                      <input name="zip" type="text" class="form-control" id="zip" required minlength="3">
                      <div class="invalid-feedback">
                        Zip code required.
                      </div>
                    </div>
                  </div>

      
                <!-- <hr class="my-4">
      
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="same-address">
                  <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>
      
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="save-info">
                  <label class="form-check-label" for="save-info">Save this information for next time</label>
                </div> -->
      
                <!-- <hr class="my-4"> -->
      
                
                <h4 class="mb-3 mt-5"><div id="totalResult"><strong>Your Total: $<span id="overallResult">0</span></strong></div></h4>
                <input type="hidden" id="overallHidden" name="total" value="0" />
                <p>Please make payment via Venmo to <strong><a target="_blank" href="https://venmo.com/u/Lori-Sussman-2">@Lori-Sussman-2</a></strong>.</br />
                  2023 Order Deadline: <strong>Mon - 12/4/2023</strong>.</br />
                  Estimated date of delivery: <strong>Wed - 12/20/2023</strong>.</p>
                <!-- <p>Questions or support? Please email <a href="mailto:orelandpack88.com">orelandpack88@gmail.com</a>.</p> -->
                <!-- <div class="my-3">
                  <div class="form-check">
                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                    <label class="form-check-label" for="credit">Credit card</label>
                  </div>
                  <div class="form-check">
                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                    <label class="form-check-label" for="debit">Debit card</label>
                  </div>
                </div> -->

      
                <!-- <hr class="my-4"> -->
      
               <div class="mt-5"> <button class="w-100 btn btn-primary btn-lg" type="submit" style="max-width: 320px;
                height: 50px;">Place Order Request</button>  </div>
              </form>
            </div>
          </div>
        </main>
      
        <footer class="my-5 pt-5 text-body-secondary text-center text-small">
          <p class="mb-1">©2023 Oreland Pack 88</p>
          <ul class="list-inline">
            <!-- <li class="list-inline-item"><a href="https://orelandpack88.com" target="_blank">https://orelandpack88.com</a></li> -->
            <!-- <li class="list-inline-item"><a href="#">Terms</a></li> -->
            <li class="list-inline-item">Questions or support? Email <a href="mailto:orelandpack88.com">orelandpack88@gmail.com</a>.</li>
          </ul>
        </footer>
      </div>


    <script>
    // // Get all select elements on the page
    // var selectElements = document.querySelectorAll('select');

    // // Add event listener to each select element
    // selectElements.forEach(function(select) {
    //   select.addEventListener('change', function() {
    //     var selectedValue = this.value;
    //     var parentDiv = this.parentElement;

    //     // Check if the selected value is not 0
    //     if (selectedValue !== '0') {
    //       // Add the 'highlight' class to the parent div
    //       parentDiv.classList.add('highlight');
    //     } else {
    //       // Remove the 'highlight' class if the selected value is 0
    //       parentDiv.classList.remove('highlight');
    //     }
    //   });
    // });

    // Initialize the total variable
    var total = 0;

        // Initialize an object to store previous results
        var previousResults = {};

       // Get all select elements on the page
       var selectElements = document.querySelectorAll('select');

      // Add event listener to each select element
      selectElements.forEach(function(select) {
        select.addEventListener('change', function() {
          var selectedValue = parseFloat(this.value);
          var parentDiv = this.parentElement;

          // Check if the selected value is not 0
          if (selectedValue !== 0) {
            // Add the 'highlight' class to the parent div
            parentDiv.classList.add('highlight');
          } else {
            // Remove the 'highlight' class if the selected value is 0
            parentDiv.classList.remove('highlight');
          }

          // Get the input file element that comes after the select
          var inputFile = parentDiv.querySelector('input[type="hidden"]');

          // Get the file value and convert it to a number
          var fileValue = parseFloat(inputFile.value) || 0;

          // Multiply the selected value by the file value
          var result = selectedValue * fileValue;

          console.log('Result:', result);

          
          // Get the result span element
          var resultSpan = parentDiv.querySelector('.result span');

       

        // Set the inner HTML of the result span with the calculated result
        resultSpan.innerHTML = result;

        // Check if there is a previous result for this select
        if (previousResults.hasOwnProperty(select.id)) {
          // Subtract the previous result from the total
          total -= previousResults[select.id];
        }

        // Add the new result to the total
        total += result;

        // Store the current result for future subtraction
        previousResults[select.id] = result;

        // Get the overall result span element
        var overallResultSpan = document.getElementById('overallResult');
        var overallResultHidden = document.getElementById('overallHidden');
        // Set the inner HTML of the overall result span with the total
        overallResultSpan.innerHTML = total;
        overallResultHidden.value= total;

       
        });


      });

    </script>
</body>
</html>