---
layout: layout.html
title: Mattbotdesign | Matthew Dalberto
currentPage: homepage
---

<!-- <div class="bgd-image2"></div> -->
<main id="main" class="nav-spacer">

      <!-- Header -->
      <section class="hero overflow-visible" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 d-md-flex align-items-center"  style="z-index:3">
                    <div>
                      <p class="text-big">Matthew Dalberto</p>
                        <h1 class="home-h1 mb-4">UX and Product Designer</h1>
                        <p class="p-large mb-0 pb-0 ">10+ years of experience designing thoughtful, user-centered solutions across mobile, web, and desktop platforms. Translating complex business goals into intuitive end-to-end experiences using usability heuristics, design standards, and agile collaboration. Combines visual design with real-world usability and data-backed feedback to create digital products that are both visually appealing and functionally useful.</p>
                        <!-- <a style="z-index:10;" class="btn-primary mb-5 mb-lg-0" href="#work">
                          View Work</a> -->
                    </div>
                </div>

            </div> 
        </div> 
      </section> 




    <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div>

    <!-- ======= Our Work Section ======= -->
    <section class="work" id="work">
      <div class="container width-max-sm" data-aos="fade-up">

        <div class="row justify-content-center mt-sm-2">

          {% for work in work %}

            <div style="cursor:pointer;" onclick="window.open('{{work.url | safe }}','{{work.openlocation}}');" class="col-xl-3 col-md-4 col-sm-6 col-xs-6 col-6 d-flex align-items-stretch mb-4 mb-xs-5 mb-sm-5 mb-md-3 mb-lg-5 " data-aos="zoom-in" data-aos-delay="200">
                <div class="work-tiles"><img src="{{work.imageSm}}" /></div>
                <!-- <h4>{{work.name}}</h4> -->
                <!-- <p class="mb-4">{{work.team}}</p> -->
            
            </div>

          {% endfor %}
            <!-- <div class="d-flex justify-content-center">
                 <a style="z-index:10;" class="btn-primary mb-5 mb-lg-0 btn-solid-lg" href="/case-studies">View All</a>
            </div> -->
        </div>

      </div>
    </section><!-- End Services Section -->



    <!-- <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div> -->
    <div id="services"  class="container aos-init aos-animate" data-aos="fade-up"><hr /></div>
    {% for callouts in callouts %}
      <!-- Header -->
      <section class="hero overflow-visible">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-md-flex align-items-center"  style="z-index:3">
                    <div>
                        <h3>{{callouts.title}}</h3>
                        {{callouts.content | safe }}
                        <!-- <a style="z-index:10;" class="btn-primary mb-5 mb-lg-0" href="#work">View Work</a> -->
                    </div> 
                </div> 
                <div class="col-lg-8 text-center d-flex justify-content-center position-relative ">
                  <img src="{{callouts.image}}" style="width:100%">
                </div> 
            </div> 
        </div>
      </section> 
      <!-- end of header -->
      {% endfor %}

  </main>

