---
layout: layout.html
title: Mattbotdesign | Matthew Dalberto
currentPage: homepage
---




<main id="main" class="nav-spacer">




      <!-- Header -->
      <section class="hero overflow-visible" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-md-flex align-items-center"  style="z-index:3">
                    <div>
                      <p class="text-big">Matthew Dalberto</p>
                        <h1 class="home-h1 mb-4">Creative Consultant</h1>
                        <p class="p-large mb-4 pb-2">Research, Design, Build. I offer a blend of user center design and technology expertise. My passion is to create useable, aesthetically-pleasing digital products, that are useful to people and grow business.</p>
                        <a style="z-index:10;" class="btn-primary mb-5 mb-lg-0" href="#work">
                          View Work</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-8 text-center d-flex justify-content-center position-relative gears-container">
                  <!-- for dotlottie player?-->
                  <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>  -->
                    
                  <!-- use for lottie animation control -->
                  <!-- <lottie-player id="gears" src="https://lottie.host/742c18e2-1284-4378-92e9-3e06cbbbd4bc/xYVMYDqUUJ.json" background="transparent" style="width:100%"></lottie-player> -->

                  <lottie-player class="gears" id="gears" src="assets/img/prod3.json" background="transparent" ></lottie-player>

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
      </section> <!-- end of header -->
    <!-- end of header -->



    <!-- ======= Clients Section ======= -->
 <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row d-flex justify-content-center" data-aos="zoom-in">
          <div class="col-lg-8  align-items-center pt-4 pb-4">
          <p class="text-big">
          </p></div> 
        </div>

      </div>
    </section>
    <!-- End Cliens Section -->

    <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div>

    <!-- ======= Our Work Section ======= -->
    <section id="work" class="work">
      <div class="container width-max-sm" data-aos="fade-up">

        <div class="section-title " style="max-width:800px; margin-left:auto; margin-right: auto;">
          <h2>10+ Years of App, Website, & Desktop Application Experience</h2>
          <p>These projects are repersentive of the range of digital products I've worked on over the years.</p>
          <div class="row">
            <div class="col-6">
              <p>Activities (various degrees per project):</p>
              <ul>
                <li>Appling and/or Creating a Design System</li>
                <li>Conversion Optimization</li>
                <li>End User Interviews</li>
                <li>Frontend Code Builds</li>
                <li>Hi-Fi Mockups</li>
                <li>Prototyping</li>
                <li>Rebranding</li>
                <li>Wireframing</li>
              </ul>
            </div>
            <div class="col-6">
              <p>Products Types:</p>
                <ul>
                  <li>Console Applications</li>
                  <li>Mobile Apps</li>
                  <li>Responsive Websites</li>
                </ul>
            </div>

          </div>

        </div>

        <div class="row justify-content-center ">

          {% for work in work %}
          
            <div style="cursor:pointer;" onclick="window.open('{{work.url | safe }}');" class="col-xl-3 col-md-3 col-sm-12 col-xs-6 col-6 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img src="{{work.imageSm}}" /></div>
                <!-- <h4>{{work.name}}</h4> -->
                <!-- <p class="mb-4">{{work.team}}</p> -->
              </div>
            </div>

          {% endfor %}


        </div>
        <!-- <div class="section-title text-center">
        <a href="/athletes" class="btn btn-secondary" >
          View All
        </a>
      </div> -->
      </div>
    </section><!-- End Services Section -->



    <!-- ======= Services Section ======= -->
    <!-- <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title" style="max-width:800px; margin-left:auto; margin-right: auto;">
          <h2>Client Services</h2>
          <p>Mattbotdesign is committed to the long term success of its client. We&nbsp;offer&nbsp;assistance&nbsp;with:</p>
        </div>

        <div class="row justify-content-center mr-0 ml-0 ">

          {% for service in services %}
          <div  style="cursor:auto" class="col-xl-3 col-md-6 col-sm-6 col-xs-6 col-6 d-flex mt-4 mt-md-0 mb-md-5  text-center justify-content-center" data-aos="zoom-in" data-aos-delay="200"> -->

            <!-- <div  style="cursor:pointer;"  onclick="location.href='{{global.baseUrl}}services#{{service.id}}';" class="col-xl-3 col-md-6 col-sm-6 col-xs-6 col-6 d-flex mt-4 mt-md-0 mb-md-5  text-center justify-content-center" data-aos="zoom-in" data-aos-delay="200"> -->
              <!-- <div class="icon-box d-flex justify-content-center align-items-center"> -->
                <!-- <div class="icon"><img src="{{service.image}}" /></div> -->
                <!-- <h4>{{service.title}}</h4>
              </div>
            </div>

          {% endfor %}


        </div>

      </div>
    </section>End Services Section -->



    <!-- ======= Team Section ======= -->
    <!-- ======= Our Athletes Section ======= -->
    <!-- <section id="athletes" class="work">
      <div class="container width-max-sm" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Meet the Team</h2>
        </div>

        <div class="row justify-content-center ">

          {% for mate in team %}

              <div class="col-xl-2 col-md-2 col-sm-4 col-xs-4 col-4 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img src="{{mate.imageSm}}" /></div>
                <h4>{{mate.name}}</h4>
                <p class="mb-4">{{mate.title}}</p>
              </div>
            </div>

          {% endfor %}


        </div>
        <div class="section-title text-center">
        <a href="https://www.linkedin.com/in/mdalberto/" target="_blank" class="btn btn-secondary" >
          Learn More
        </a>
      </div>
      </div>
    </section> -->
  
    <!-- End Team Section -->





    <!-- <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div> -->
    <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div>
    {% for callouts in callouts %}
      <!-- Header -->
      <section class="hero overflow-visible">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-md-flex align-items-center"  style="z-index:3">
                    <div>
                        <h3>{{callouts.title}}</h3>
                        {{callouts.content | safe }}
                        <!-- <a style="z-index:10;" class="btn-primary mb-5 mb-lg-0" href="#work">View Work</a> -->
                    </div> 
                </div> 
                <div class="col-lg-8 text-center d-flex justify-content-center position-relative ">
                  <img src="{{callouts.image}}" style="width:100%"/>
                </div> 
            </div> 
        </div>
      </section> 
      <!-- end of header -->
      {% endfor %}




      <!-- ======= Scouting Section ======= -->
      <!-- <section id="scouting" class="scouting">
        <div class="container width-max-xs" data-aos="fade-up" style="max-width:800px">
          <div class="section-title ">
            <h3>UI & Flow Specs</h3>
            <img src="assets/img/work/flow.jpg" style="width:100%"/>
            <br /><br/>
            <h3>Design Systems</h3>
            <img src="assets/img/work/designsystem.jpg" style="width:100%"/>
            <br /><br/>
            <h3>Logo Design</h3>
            <img src="assets/img/work/logos.jpg" style="width:100%"/>
            <br /><br/>
            <h3>Optimization Workshops</h3>
            <img src="assets/img/work/collab.jpg" style="width:100%"/>
          </div>
        </div>
      </section> -->





  </main>

