---
layout: layout.html
title: Mattbotdesign | Matthew Dalberto
currentPage: homepage
---




<main id="main" class="nav-spacer">

    <!-- ======= Clients Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row d-flex justify-content-center" data-aos="zoom-in">
          <div class="col-lg-8  align-items-center pt-4 pb-4">
          <p class="text-big">

            Welcome to the portfolio of Matthew Dalberto, a Web Application UI Designer and Front-End Programmer extraordinaire. Step into a world where creativity and technology converge, and where every pixel tells a story. <!-- Explore a diverse collection of captivating projects that blend stunning design with seamless functionality. Join us on this digital adventure of innovation and inspiration!Welcome to the portfolio of [Designer/Programmer's Name], a Web Application UI Designer and Front-End Programmer extraordinaire. Step into a world where creativity and technology converge, and where every pixel tells a story. Explore a diverse collection of captivating projects that blend stunning design with seamless functionality. Join us on this digital adventure of innovation and inspiration!-->
          
          </p></div> 
        </div>

      </div>
    </section>
    <!-- End Cliens Section -->

    <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div>

    <!-- ======= Our Work Section ======= -->
    <section id="work" class="work">
      <div class="container width-max-sm" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Our Work</h2>
        </div>

        <div class="row justify-content-center ">

          {% for work in work %}
          
            <div style="cursor:pointer;" onclick="window.open('{{work.url | safe }}');" class="col-xl-2 col-md-2 col-sm-4 col-xs-4 col-4 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img src="{{work.imageSm}}" /></div>
                <!-- <h4>{{work.name}}</h4> -->
                <!-- <p class="mb-4">{{work.team}}</p> -->
              </div>
            </div>

          {% endfor %}


        </div>
        <!-- <div class="section-title text-center">
        <a href="/athletes" class="btn btn-secondary" >
          View All
        </a>
      </div> -->
      </div>
    </section><!-- End Services Section -->



    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Client Services</h2>
          <p>Mattbotdesign is committed to the long term success of its client. We&nbsp;offer&nbsp;assistance&nbsp;with:</p>
        </div>

        <div class="row justify-content-center mr-0 ml-0 ">

          {% for service in services %}

            <div  style="cursor:pointer;"  onclick="location.href='{{global.baseUrl}}services#{{service.id}}';" class="col-xl-3 col-md-6 col-sm-6 col-xs-6 col-6 d-flex mt-4 mt-md-0 mb-md-5  text-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box d-flex justify-content-center align-items-center">
                <!-- <div class="icon"><img src="{{service.image}}" /></div> -->
                <h4>{{service.title}}</h4>
              </div>
            </div>

          {% endfor %}


        </div>

      </div>
    </section><!-- End Services Section -->



    <!-- ======= Team Section ======= -->
    <!-- ======= Our Athletes Section ======= -->
    <section id="athletes" class="work">
      <div class="container width-max-sm" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Meet the Team</h2>
        </div>

        <div class="row justify-content-center ">

          {% for mate in team %}

              <div class="col-xl-2 col-md-2 col-sm-4 col-xs-4 col-4 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img src="{{mate.imageSm}}" /></div>
                <h4>{{mate.name}}</h4>
                <p class="mb-4">{{mate.title}}</p>
              </div>
            </div>

          {% endfor %}


        </div>
        <div class="section-title text-center">
        <a href="https://www.linkedin.com/in/mdalberto/" target="_blank" class="btn btn-secondary" >
          Learn More
        </a>
      </div>
      </div>
    </section>
  
    <!-- End Team Section -->

    <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div>

      <!-- ======= Scouting Section ======= -->
      <section id="scouting" class="scouting">
        <div class="container width-max-sm" data-aos="fade-up">
  
          <div class="section-title text-center">
            <h2>Research, Design, Code</h2>
          <!-- <p>Throughout the years</p> -->
          </div>
  
          <div class="row justify-content-center ">
  
              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-12 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
                
  
              <ul class="box">
                {% for former in former %}
                <li><strong>{{former.name}}</strong> – {{former.team}} <i>{{former.role}}</i></li>
                  {% endfor %}
              </ul>
                </div>
              </div>

          </div>

        </div>
      </section>

  </main><!-- End #main -->

